// .subheading{  
//     position: static;
//     left: 0%;
//     right: 0%;
//     top: 0%;
//     bottom: 0%;    
//     font-family: Segoe UI;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 36px;
//     line-height: 133.51%;
//     /* identical to box height, or 48px */
//     text-align: right;
//     color: #0B0B0B;
//     /* Inside Auto Layout */
//     flex: none;
//     order: 0;
//     flex-grow: 0;
//     margin: 0px 0px;
//     }

// .container-fluid{
//     display: block;
//     float: left;
// }

// #features {
//     position: relative;
//     float: left;
// }

// .container-fluid{
//     display: grid;

// }



.content-wrapper{
     display: grid;
    //  justify-content: space-between;
    grid-template-rows: auto;
    // display: grid;
  
    padding-inline-start: 100px;
    // margin-inline-start:7%;
    // grid-auto-rows: 70px;    // margin-inline-end:0px;
    // flex-wrap: wrap;
    // justify-content: space-around;
    
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-gap: 20px;
    grid-area: main;
   
    // padding: 20px;
    // @media (min-width: 700px) {
    //   overflow: auto;
    // }  
    // height: 100%;
    // display: flex;
    // flex-direction: column; /*places the left and right headers above the bottom content*/
    // flex-grow: 1;
    // .form{
    //     grid-auto-rows: 70px; 
    // }
    
}
@media only screen and (min-width: 767px) {
    .content-wrapper{
        // min-height: 1800px;    
        position: initial
      }
} 

.buttom{
    text-align: center;
}
.text-field{
  
    max-width: 282px;
    min-height: 32px;
    
    // padding-top: 35px;
    // padding-bottom: 35px;
    
}
.text-width{
    max-width: 282px;
}
.flex-container {
    display: flex;
    flex-direction: column;
  }

  .title-text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 133.51%;
    /* or 29px */
    
    
    color: #000000;
    
    
  }
.hr{
    margin-top: 0px;
}
.note{
    margin-inline-start: 100px;
    max-width: 72%;
    min-height: 118px;
    
}
// .toggle{
//    padding-top: 50px;
// // }
// .dataListHeader{
//     background-color: #000000;
// // }
// .dataListFooter{
//     background-color: '#F4F2FF'!important;

// }
