.sub-header{
    display: flex;
    // flex-direction: row;
    // grid-area: subHeader;
     margin-inline-end: 5%;

 
   justify-content:space-between;
    // margin-inline-start:0px ;

    // flex-flow: row wrap;
    //  justify-content: space-around;

    // background-color: dimgrey;

}
.divider {
  display: flex;
 
  flex: 0.7;
}

.sub-header-buttom{
   display: flex;
   flex-basis: auto;

  
   
  //  justify-content: flex-end;
  
}
.button{
  margin-top: 12px;
}
.title{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 133.51%;
  // flex-shrink: 0;
  /* or 64px */

  display: flex;
  align-items: center;


  /* Gray Dark */

 color: #20201F;
}
// .heading{
//    max-width: 152px;
//    max-height: 80px;
//    align-items: flex-end;
// }
.subtitle {
 
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 133.51%;
  color: #1A1F71;

}
