
// .continar-dialog{
//     min-width: 700px;
//     max-width: 500px;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }

// .text-feild{
// }
// .continar-d{
//     .main-216{
//         min-width: 700px;
//     max-width: 500px;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     }
   

   
// }
// .ms-dialogMainOverride {
//     max-width: 600px !important;
//     max-height: 600px !important;

//     width: 600px;
//     height: 600px;
//  }
// .continar-d{
// .ms-Modal{
//     .ms-Overlay{
//         .div[class^='main'], div[class*='main']{
//             max-width: 600px !important;
//             max-height: 600px !important;
        
//             width: 600px;
//             height: 600px;
//          }
//     }
  
// }
// }

 .text-feild{
     padding-inline-start: 200px;
     max-width: 200px;
     min-width: 100px;
 }
 .contect-main{
    direction: rtl;
 }
