.grid-container-login{
    display: flex;
    
    // grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;

    overflow: auto;
    min-height: 100%;
    
}
.login{
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    margin-top: 10%;
    


}
.text-field-login{
  
    max-width: 350px;
    min-width: 320px;
    padding-bottom:20px;
    text-align: center;
    
    // padding-top: 35px;
    // padding-bottom: 35px;
    
}
.button{
    max-width: 350px;
}